.container {
  width: 320px;
  height: 320px;
  margin: 100px auto;
  font-size: 0;
}

.pixel {
  width: 20px;
  height: 20px;
  display: inline-block;
  box-sizing: border-box;
  transition: background-color 750ms ease;
}

.footer {
  width: 384px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  text-align: center;
  line-height: 120%;
}

.nosmooth {
  transition: none !important;
}
